{% extends "layouts/main.html" %}
{% block title %}Meus dados{% endblock %}
{% block js %}<script src="/static/js/modal.js"></script>{% endblock %}
{% block content %}
    <main class="container">
        <section>
            <h3>Cadastro</h3>
            {% if errors %}
                <div class="pico-background-red-600" style="padding: 10px">
                    {% for error in errors %}<p style="margin-bottom: 0px">{{ error }}</p>{% endfor %}
                </div>
            {% endif %}
        </section>
        <section>
            <article>
                <header>
                    Objetivo profissional:
                </header>
                <textarea id="goal" name="goal" hx-post="/profile">{{ goal }}</textarea>
            </article>
            <article>
                <header>
                    Formacão:
                </header>
                <div id="educations">{% include "views/partials/educations.html" %}</div>
                <footer>
                    <button class="outline"
                            style="padding: 0.5rem 0.75rem"
                            data-target="modal-education"
                            onclick="toggleModal(event)">Adicionar formação</button>
                </footer>
            </article>
            <article>
                <header>
                    Cursos técnicos:
                </header>
                <div id="courses">{% include "views/partials/courses.html" %}</div>
                <footer>
                    <button class="outline"
                            style="padding: 0.5rem 0.75rem"
                            data-target="modal-course"
                            onclick="toggleModal(event)">Adicionar curso</button>
                </footer>
            </article>
            <article>
                <header>
                    Experiências profissionais:
                    <p>Adicione as 3 experiências mais recentes. (ou a mais significativa)</p>
                </header>
                <div id="experiences">{% include "views/partials/experiences.html" %}</div>
                <footer>
                    <button class="outline"
                            style="padding: 0.5rem 0.75rem"
                            data-target="modal-experience"
                            onclick="toggleModal(event)">Adicionar experiência</button>
                </footer>
            </article>
            <article>
                <header>
                    Informática:
                </header>
                <div id="computing_questions"
                     hx-get="/partials/questions/computing"
                     hx-trigger="load"></div>
            </article>
            <article>
                <header>
                    Idiomas:
                </header>
                <div id="language_questions"
                     hx-get="/partials/questions/language"
                     hx-trigger="load"></div>
            </article>
        </section>
    </main>
    <dialog id="modal-education">
        <article>
            <header>
                <button rel="prev" onclick="closeModal(visibleModal)"></button>
                <h2>Adicionar formação</h2>
            </header>
            <form id="form-education">
                <label for="education_type">Tipo de formação</label>
                <select name="education_type" id="education_type">
                    <option value="fundamental">Ensino Fundamental</option>
                    <option value="medio">Ensino Médio</option>
                    <option value="superior">Ensino Superior</option>
                    <option value="pos">Pós-Graduação</option>
                    <option value="mba">MBA</option>
                    <option value="outros">Outros</option>
                </select>
                <label for="institution">Instituição</label>
                <input type="text" name="institution" id="institution">
                <label for="graduation">Curso</label>
                <input type="text" name="graduation" id="graduation">
                <fieldset class="grid">
                    <div>
                        <label for="start_month">Mês de início</label>
                        <select name="start_month" id="start_month">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    <div>
                        <label for="start_year">Ano de início</label>
                        <input type="number" name="start_year" id="start_year">
                    </div>
                </fieldset>
                <fieldset class="grid">
                    <div>
                        <label for="end_month">Mês de término / Previsão</label>
                        <select name="end_month" id="end_month">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                    <div>
                        <label for="end_year">Ano de término</label>
                        <input type="number" name="end_year" id="end_year">
                    </div>
                </fieldset>
                <label for="ongoing">
                    <input type="checkbox" name="ongoing" id="ongoing">
                    Em andamento
                </label>
                <label for="description">Descricão</label>
                <textarea name="description" id="description"></textarea>
            </form>
            <footer>
                <button class="outline"
                        hx-on:click="document.getElementById('form-education').reset();closeModal(visibleModal)">
                    Cancelar
                </button>
                <button hx-post="/formation"
                        hx-include="#form-education"
                        hx-target="#educations"
                        hx-disabled-elt="this"
                        hx-on:click="document.getElementById('form-education').reset()"
                        hx-on::after-request="closeModal(visibleModal)">Adicionar</button>
            </footer>
        </article>
    </dialog>
    <dialog id="modal-course">
        <article>
            <header>
                <button rel="prev" onclick="closeModal(visibleModal)"></button>
                <h2>Adicionar curso técnico</h2>
            </header>
            <form id="form-course">
                <label for="name">Nome do curso</label>
                <input type="text" name="name" id="name">
                <label for="year">Ano de conclusão</label>
                <input type="number" name="year" id="year">
                <label for="month">Mês de conclusão</label>
                <select name="month" id="month">
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
                <label for="ongoing">
                    <input type="checkbox" name="ongoing" id="ongoing">
                    Em andamento
                </label>
                <label for="description">Descricão</label>
                <textarea name="description" id="description"></textarea>
            </form>
            <footer>
                <button class="outline"
                        hx-on:click="document.getElementById('form-course').reset();closeModal(visibleModal)">
                    Cancelar
                </button>
                <button hx-post="/course"
                        hx-include="#form-course"
                        hx-disabled-elt="this"
                        hx-target="#courses"
                        hx-on:click="document.getElementById('form-course').reset()"
                        hx-on::after-request="closeModal(visibleModal)">Adicionar</button>
            </footer>
        </article>
    </dialog>
    <dialog id="modal-experience">
        <article>
            <header>
                <button rel="prev" onclick="closeModal(visibleModal)"></button>
                <h2>Adicionar experiência profissional</h2>
            </header>
            <form id="form-experience">
                <label for="company">Nome da instituição</label>
                <input type="text" name="company" id="company">
                <label for="start_date">Data de inicio</label>
                <input type="date" name="start_date" id="start_date">
                <label for="end_date">Data de término</label>
                <input type="date" name="end_date" id="end_date">
                <label for="last_wage">Último salário</label>
                <input type="text" name="last_wage" id="last_wage">
                <label for="role">Cargo</label>
                <input type="text" name="role" id="role">
                <label for="activities">Atividades</label>
                <textarea name="activities" id="activities"></textarea>
                <label for="reference_contacts">Contatos de referência</label>
                <textarea name="reference_contacts" id="reference_contacts"></textarea>
            </form>
            <footer>
                <button class="outline"
                        hx-on:click="document.getElementById('form-experience').reset();closeModal(visibleModal)">
                    Cancelar
                </button>
                <button hx-post="/experience"
                        hx-include="#form-experience"
                        hx-disabled-elt="this"
                        hx-target="#experiences"
                        hx-on:click="document.getElementById('form-experience').reset()"
                        hx-on::after-request="closeModal(visibleModal)">Adicionar</button>
            </footer>
        </article>
    </dialog>
{% endblock %}
