{% extends "layouts/main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <main class="container">
        {% if logged_in %}
            <h3>Vagas</h3>
        {% include "views/partials/jobs.html" %}
        {% else %}
            <article>
                <p>Ainda não é cadastrado(a)?</p>
                <a role="button" class="button" href="/register">Cadastre-se</a>
            </article>
            <article>
                <p>Já é cadastrado(a)?</p>
                <a role="button" class="button secondary" href="/login">Veja seu currículo</a>
            </article>
        {% endif %}
    </main>
{% endblock %}
