{% extends "layouts/main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <section>
        <img src="/static/img/jumbo0.png"
             alt="Grupo LET"
             width="100%; max-height: 600px">
    </section>
    <main class="container">
        {% if logged_in %}
            {% include "views/partials/jobs.html" %}
        {% else %}
            <article>
                <p>Ainda não é cadastrado(a)?</p>
                <a role="button" class="button" href="/register">Cadastre-se</a>
            </article>
            <article>
                <p>Já é cadastrado(a)?</p>
                <a role="button" class="button secondary" href="/login">Veja seu currículo</a>
            </article>
        {% endif %}
    </main>
{% endblock %}
