{% extends "layouts/main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block js %} 
    <script src="https://unpkg.com/showdown/dist/showdown.min.js"></script> 
{% endblock %}
{% block content %}
    <main class="container">
        <article>
            <h2>{{ position.Title }}</h2>
            {% if position.Company %}
            <h3>{{ position.Company }}</h3>
            {% endif %}
            {% if position.CompanyField %}
            <h3>{{ position.CompanyField }}</h3>
            {% endif %}
            {% if position.Location %}
            <p>Localidade: {{ position.Location }}</p>
            {% endif %}
            {% if position.Allocation %}
            <p>Regime de trabalho: {{ position.GetAllocation }}</p>
            {% endif %}
            {% if position.Type %}
            <p>Tipo: {{ position.GetType }}</p>
            {% endif %}
            {% if position.Education %}
            <p>Escolaridade: {{ position.Education }}</p>
            {% endif %}
            {% if position.Level %}
            <p>Nível: {{ position.GetLevel }}</p>
            {% endif %}
            {% if position.Wage %}
            <p>Salário: {{ position.Wage }}</p>
            {% endif %}
            <div id="description"></div>
        </article>
        {% if logged_in %}
            {% if has_applied %}
                <button disabled>Você já se candidatou.</button>
            {% else %}
                {% if not position.IsActive %}
                   <mark>Esta vaga não está mais ativa.</mark>
                {% else %}
                    {% if position.ExternalLink %}
                        <a class="button" role="button" href="{{ position.ExternalLink }}">Candidatar-se</a>
                    {% else %}
                        <button class="button" hx-disabled-elt="this" hx-swap="outerHTML" hx-put="/positions/{{ position.ID }}/apply">Candidatar-se</button>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% if not position.IsActive %}
               <mark>Esta vaga não está mais ativa.</mark>
            {% else %}
                {% if position.ExternalLink %}
                    <a class="button" role="button" href="{{ position.ExternalLink }}">Candidatar-se</a>
                {% else %}
                    <a class="button" role="button" href="/login?next=/positions/{{ position.ID }}">Candidatar-se</a>
                {% endif %}
            {% endif %}
        {% endif %}
    <script>
        var converter = new showdown.Converter();
        text = `{{ position.Description }}`;
        html = converter.makeHtml(text);
        document.getElementById("description").innerHTML = html
    </script>
    </main>
{% endblock %}
