{% extends "layouts/main.html" %}
{% block title %}Registro{% endblock %}
{% block js %}
    <script>
        let args = {
            "wz_class": ".wizard",
            "wz_button_style": ".outline",
            "wz_ori": "vertical",
            "buttons": true,
            "navigation": 'buttons',
            "finish": "Registrar",
            "steps": 3,
            "next": "Próximo",
            "prev": "Anterior"
        };

        document.addEventListener("DOMContentLoaded", function () {
            const wizard = new Wizard(args);
            wizard.init();

            let wz_class = ".wizard";
            let $wz_doc = document.querySelector(wz_class)
            
            $wz_doc.addEventListener("wz.form.submit", function (e) {
                document.getElementById("myForm").submit();
            });
        });
    </script>
{% endblock %}
{% block content %}
    <main class="container">
        <section>
            <h3>Cadastro</h3>
            {% if errors %}
                <div class="pico-background-red-600" style="padding: 10px">
                    {% for error in errors %}<p style="margin-bottom: 0px">{{ error }}</p>{% endfor %}
                </div>
            {% endif %}
        </section>
        <section>
            <form method="post" class="wizard" action="/register" id="myForm">
                <aside class="wizard-content container">
                    <div class="wizard-step" data-title="1. Pessoal">
                        <label for="name">Nome</label>
                        <input type="text" name="name" id="name" required>
                        <label for="social_name">Nome social (opcional)</label>
                        <input type="text" name="social_name" id="social_name">
                        <fieldset class="grid">
                            <div>
                                <label for="cpf">CPF</label>
                                <input type="text" name="cpf" id="cpf" required>
                            </div>
                            <div>
                                <label for="birth_date">Data de nascimento</label>
                                <input type="date" name="birth_date" id="birth_date" required>
                            </div>
                            <div style="align-content: center">
                                <label for="pcd">
                                    <input type="checkbox" name="pcd" id="pcd">
                                    <img src="/static/img/pcd.png" alt="pcd" style="height: 25px">
                                    PCD
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="wizard-step" data-title="2. Contato">
                        <label for="phone">Telefone</label>
                        <fieldset role="group">
                            <input type="text"
                                   name="area_code"
                                   id="area_code"
                                   required
                                   maxlength="2"
                                   rows="2">
                            <input type="text" name="phone" id="phone" required>
                        </fieldset>
                        <label for="phone2">Celular</label>
                        <fieldset role="group">
                            <input type="text" name="area_code2" id="area_code2">
                            <input type="text" name="phone2" id="phone2">
                        </fieldset>
                        <label for="linkedin">Linkedin (opcional)</label>
                        <input type="text" name="linkedin" id="linkedin">
                        <label for="neighborhood">Bairro</label>
                        <input type="text" name="neighborhood" id="neighborhood" required>
                        <label for="cep">CEP</label>
                        <input type="text" name="cep" id="cep" required>
                        <label for="street">Rua</label>
                        <input type="text" name="street" id="street" required>
                        <label for="number">Número</label>
                        <input type="text" name="number" id="number">
                        <label for="complement">Complemento</label>
                        <input type="text" name="complement" id="complement">
                        <label for="city">Cidade</label>
                        <input type="text" name="city" id="city" required>
                        <label for="state">Estado</label>
                        <input type="text" name="state" id="state" required>
                    </div>
                    <div class="wizard-step" data-title="3. Acesso">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" required>
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="password" required>
                        <label for="password_confirm">Confirme a senha</label>
                        <input type="password"
                               name="password_confirm"
                               id="password_confirm"
                               required>
                    </div>
                </aside>
            </form>
        </section>
    </main>
{% endblock %}
