<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        - Grupo LET</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pico.min.css">
        <link rel="stylesheet" href="/static/css/pico.colors.min.css">
        <link rel="stylesheet" href="/static/css/wizard.min.css">
        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/wizard.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
