<html data-theme="light">
    <head>
        <title>
            {% block title %}{% endblock %}
        - Grupo LET</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pico.min.css">
        <link rel="stylesheet" href="/static/css/pico.colors.min.css">
        <link rel="stylesheet" href="/static/css/wizard.min.css">
        <link rel="stylesheet" href="/static/css/base.css">
        <script src="/static/js/htmx.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="container">
                <ul>
                    <li>
                        <img src="/static/img/logobranco.png" alt="Grupo LET" style="height: 70px">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">Início</a>
                    </li>
                    {% if logged_in %}
                        {% if is_admin %}
                            <li>
                                <details class="dropdown">
                                    <summary>Admin</summary>
                                    <ul dir="rtl">
                                        <li>
                                            <a href="/admin">Gerenciar</a>
                                        </li>
                                        <li>
                                            <a href="/admin/profile-search">Buscar Pessoas</a>
                                        </li>
                                    </ul>
                                </details>
                            </li>
                        {% else %}
                            <li>
                                <a href="/profile">Meus dados</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="/logout">Sair</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="/login">Entrar</a>
                        </li>
                        <li>
                            <a href="/register">Cadastre-se</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <p>
                Grupo LET. <a href="https://www.grupolet.com">grupolet.com</a>
            </p>
        </footer>
    </body>
</html>
