body,
h1,
h2,
h3,
h4,
p {
  color: white;
}
table {
  background-color: white;
}
label {
  color: #f4f0ff;
}
article label,
article p,
article > header {
  color: black;
}
section {
  margin-bottom: 20px;
}
body,
header,
footer {
  background-color: #423958;
}
header a,
footer a {
  color: white;
  text-decoration: none;
}
article {
  background-color: white;
}
footer {
  text-align: center;
  font-size: 0.7rem;
}
footer p, footer address {
  color: white;
}
footer h7 {
    font-weight: bold;
}
footer address {
    margin-bottom: 0;
}
footer a {
    text-decoration: underline;
}
.wizard .wizard-nav.progress .wizard-step.active ~ .wizard-step {
  background-color: var(--pico-background-color);
  color: var(--pico-form-element-placeholder-color);
}
.wizard .wizard-nav.progress .wizard-step {
  border: 1px solid var(--pico-form-element-border-color);
  color: var(--pico-form-element-color);
  background-color: var(--pico-form-element-background-color);
}
.wizard .wizard-nav.dots .wizard-step:before {
  background: var(--pico-primary);
}
nav details.dropdown {
  margin: inherit;
}
section[aria-label="breadcrumb"] ul {
  width: 100%;
}
section[aria-label="breadcrumb"] ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
section[aria-label="breadcrumb"] ul li:not(:last-child) ::after {
  content: "";
}
[role="tab"] {
  border-bottom: 2px solid transparent;
  user-select: none;
  color: var(--secondary);
  border-radius: 0;
  background: transparent;
  transition: all 0.25s;
}
[role="tab"][aria-current] {
  color: var(--contrast) !important;
  border-color: var(--contrast);
}
section {
  margin: calc(var(--block-spacing-vertical) * 0.5) 0;
}
section [role="tabpanel"] {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideIn;
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
#pagination > div > button {
  padding: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-left: 0.2rem;
}
