{% extends "layouts/main.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <main class="container">
        <section id="results">
        <table class="stripped">
            <main class="container">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Tel</th>
              <th scope="col">Cel</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <th scope="row">{{ user.Name }}</th>
              <td>{{ user.Email }}</td>
              <td>{{ user.AreaCode1 }} {{ user.Phone1 }}</td>
              <td>{{ user.AreaCode2 }} {{ user.Phone2 }}</td>
              <td><a href="/admin/profile/{{ user.ProfileID }}">Ver perfil</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </section>
    </main>
{% endblock %}
