<table class="striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Papel</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for u in users %}
    <tr>
      <th scope="row">{{ u.Name }}</th>
      <td>{{ u.Email }}</td>
      <td>
        <select name="role" hx-put="/users/{{ u.ID }}" style="margin-bottom: inherit;" {% if u.ID == user_id %}disabled{% endif %}>
          <option value="admin" {% if u.Role.Value == 'admin' %}selected{% endif %}>Administrador</option>
          <option value="applicant" {% if u.Role.Value == 'applicant' %}selected{% endif %}>Candidato</option>
          <option value="client" {% if u.Role.Value == 'client' %}selected{% endif %}>Cliente</option>
        </select>
      </td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
